# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/packages/
/node_modules/

# Test results
/TestResults/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Project-wide build artifacts
**/bin/
**/obj/

# Visual Studio
.vs/
