# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/packages/
/node_modules/

# Test results
/TestResults/

# User-specific files
*.user
*.userosscache
*.sln.docstates


# Project-wide build artifacts
bin/
obj/
*/bin/
*/obj/

# Packaging output
AppPackages/
*/AppPackages/

# Visual Studio
.vs/
